@model IEnumerable<Proyecto_PrograAvanzadaWeb.Models.Categoria>

@{
    ViewData["Title"] = "Listado de Categorias";
}

<h1>Listado de Categorias</h1>

<p>
    <a asp-controller="Categoria" asp-action="Create">Agregar Categoría</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdCategoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdCategoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activo)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.IdCategoria }) |
                    @Html.ActionLink("Details", "Details", new { id=item.IdCategoria }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.IdCategoria })
            </td>
        </tr>
}
    </tbody>
</table>
