@model Proyecto_PrograAvanzadaWeb.Models.usuario

@{
    ViewData["Title"] = "Eliminar Usuario";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="container">
    <h1>Eliminar Usuario</h1>

    <h3>¿Está seguro de eliminar este usuario?</h3>
    <div>
        <h4>Usuario</h4>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Nombres)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Nombres)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Apellidos)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Apellidos)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Correo)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Correo)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Contrasena)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Contrasena)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.EsAdministrador)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.EsAdministrador)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Activo)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Activo)
            </dd>
        </dl>
    
        <form asp-action="Delete">
            <input type="hidden" asp-for="IdUsuario" />
            <input type="submit" value="Delete" class="btn btn-outline-danger" /> |
            <a class="btn btn-outline-success" asp-controller="Usuario" asp-action="Index">Regresar al listado</a>
        </form>
    </div>
</div>