@model IEnumerable<Proyecto_PrograAvanzadaWeb.Models.CarritoItem>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<body>
    <section class="ftco-section ftco-cart">
        <div class="container">
            <div class="row">
                <div class="col-md-12 ftco-animate">
                    <div class="cart-list">
                        <table class="table">
                            <thead class="thead-primary">
                                <tr class="text-center">
                                    <th>&nbsp;</th>
                                    <th>&nbsp;</th>
                                    <th>@Html.DisplayNameFor(model => model.Producto.Nombre)</th>
                                    <th>@Html.DisplayNameFor(model => model.Producto.Precio)</th>
                                    <th>@Html.DisplayNameFor(model => model.Cantidad)</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    decimal total = 0; // Variable para mantener el total
                                }
                                @foreach (var item in Model)
                                {
                                    decimal itemTotal = item.Cantidad * item.Producto.Precio; // Total del producto actual
                                    total += itemTotal; // Agregar al total
                                    <tr class="text-center">
                                        <td class="product-remove">
                                            <a data-toggle="modal" data-target="#deleteModal" data-id="@item.IdCarritoItem">
                                                <span class="ion-ios-close"></span>
                                            </a>
                                        </td>
                                        <td class="image-prod"><img class="img" src="@item.Producto.RutaImagen" alt="Imagen del producto"></td>
                                        <td class="product-name">@Html.DisplayFor(modelItem => item.Producto.Nombre)</td>
                                        <td class="price">@Html.DisplayFor(modelItem => item.Producto.Precio)</td>
                                        <td class="quantity">
                                            <div class="input-group mb-3">
                                                <input type="text" name="quantity" class="quantity form-control input-number" value="@item.Cantidad" min="1" max="100">
                                            </div>
                                        </td>
                                        <td class="total">$@itemTotal</td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="5" class="text-right"><strong>Total:</strong></td>
                                    <td><strong>$@total</strong></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Modal para eliminar producto -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Eliminar Producto del Carrito</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ¿Estás seguro de que deseas eliminar este producto del carrito?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger" id="confirmDelete">Eliminar</button>
                </div>
            </div>
        </div>
    </div>

    @section Scripts {
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script>
            var deleteItemId = 0;

            $(document).ready(function () {
                $('#deleteModal').on('show.bs.modal', function (event) {
                    var button = $(event.relatedTarget);
                    deleteItemId = button.data('id');
                });

                $('#confirmDelete').click(function () {
                    eliminarDelCarrito(deleteItemId);
                    $('#deleteModal').modal('hide');
                });
            });

            function eliminarDelCarrito(idCarritoItem) {
                $.ajax({
                    type: "POST",
                    url: "/CarritoCompras/EliminarDelCarrito",
                    data: { idCarritoItem: idCarritoItem },
                    success: function (data) {
                        location.reload();
                    },
                    error: function () {
                        alert("Error al eliminar el producto del carrito.");
                    }
                });
            }
        </script>
    }
</body>
