@model IEnumerable<Proyecto_PrograAvanzadaWeb.Models.CarritoItem>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<body>
    <section class="ftco-section ftco-cart">
        <div class="container">
            <div class="row">
                <div class="col-md-12 ftco-animate">
                    <div class="cart-list">
                        <table class="table">
                            <thead class="thead-primary">
                                <tr class="text-center">
                                    <th>&nbsp;</th>
                                    <th>&nbsp;</th>
                                    <th>@Html.DisplayNameFor(model => model.Producto.Nombre)</th>
                                    <th>@Html.DisplayNameFor(model => model.Producto.Precio)</th>
                                    <th>@Html.DisplayNameFor(model => model.Cantidad)</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    decimal total = 0; // Variable para mantener el total
                                }
                                @foreach (var item in Model)
                                {
                                    decimal itemTotal = item.Cantidad * item.Producto.Precio; // Total del producto actual
                                    total += itemTotal; // Agregar al total
                                    <tr class="text-center">
                                        <td class="product-remove">
                                            <a asp-controller="CarritoCompras" asp-action="EliminarDelCarrito" asp-route-id="@item.IdCarritoItem" >
                                                <span class="ion-ios-close"></span>
                                            </a>
                                        </td>
                                        <td class="image-prod"><img class="img" src="@item.Producto.RutaImagen" alt="Imagen del producto"></td>
                                        <td class="product-name">@Html.DisplayFor(modelItem => item.Producto.Nombre)</td>
                                        <td class="price">@Html.DisplayFor(modelItem => item.Producto.Precio)</td>
                                        <td class="quantity">
                                            <div class="input-group mb-3">
                                                <input type="text" name="quantity" class="quantity form-control input-number" value="@item.Cantidad" min="1" max="100">
                                            </div>
                                        </td>
                                        <td class="total">$@itemTotal</td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="5" class="text-right"><strong>Total:</strong></td>
                                    <td><strong>$@total</strong></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>
