@model Proyecto_PrograAvanzadaWeb.Models.Producto

@{
    ViewData["Title"] = "Eliminar Producto";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="container">

    <h1>Eliminar Producto</h1>

    <h3>¿Está seguro de eliminar este producto?</h3>
    <div>
        <h4>Producto</h4>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.IdProducto)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.IdProducto)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Nombre)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Descripcion)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Descripcion)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Precio)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Precio)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Stock)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Stock)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.RutaImagen)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.RutaImagen)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Activo)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Activo)
            </dd>
        </dl>
    
        <form asp-action="Delete">
		    <input type="submit" value="Delete" class="btn btn-outline-danger" />
            <a btn btn-outline-success asp-controller="Producto" asp-action="Index">Regresar al listado</a>
        </form>
    </div>
</div>